@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    font-family: "Quattrocento Sans", sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(254, 250, 224);
}

title {
    color: rgb(219, 212, 168);
}

h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(219, 212, 168);
    background-color: rgb(95, 111, 82);;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 2.5rem;
    border-radius: .3rem;
    overflow: hidden;
    transition: all .3s ease;

}

.formulario_container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(169, 179, 136);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h2_form {
    text-align: center;
    color: rgb(115, 83, 50);
}

.form-group {
    margin-bottom: 20px;
    color: rgb(115, 83, 50);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    background-color: rgb(56, 72, 42);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(31, 47, 17);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}