* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(170, 169, 169);}

h1 {
    text-align: center;
    font-size: 3em;
    color:#576994;
    background-color: grey;
}

nav {
    display: block;
    justify-content: space-around;
    
}
a {
    text-decoration: none;
    margin-left: 15px;
    border-radius: 2px solid black;
    height: 15px;
    width: 8%;
    line-height: 1.5;
    float: left;
}
.tarjetas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    border: 2px dotted black;
    width: 20%;
    height: auto;
    float: left;
}
